# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environment
# -------------------------
venv/

# -------------------------
# OS-specific files
# -------------------------
.DS_Store

# -------------------------
# Jupyter artifacts
# -------------------------
.ipynb_checkpoints/

# -------------------------
# DVC internal directories
# -------------------------
.dvc/tmp/
.dvc/cache/

# DVC lock file (не обязательно игнорировать, но чаще всего не нужен в git)
# dvc.lock

# -------------------------
# MLflow tracking artifacts
# -------------------------
mlruns/
mlflow.db

# -------------------------
# Data & models (хранятся через DVC)
# -------------------------
data/**

# но разрешаем .gitignore внутри data/
!data/.gitignore

# разрешаем .dvc-файлы (метафайлы, созданные dvc add)
!data/**/*.dvc

# модели
model.pkl
models/
