# Data: игнорируем содержимое, но НЕ .dvc-файлы
/data/processed
/data/raw/*.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# OS
.DS_Store

# DVC internal
.dvc/tmp/
.dvc/cache/

# MLflow
mlruns/
mlflow.db

# Models (храним через DVC)
model.pkl
models/
